# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Joey Cui
email: sy-cui@tsinghua.edu.cn
description: >-
  Personal academic page of Shaoyang Cui (Joey). Research on AGI,
  computational neuroscience, brain-inspired AI, and multi-agent systems.
github_username: spidermonk7
minimal_mistakes_skin: "air"
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Shaoyang Cui (Joey)"
  avatar : "/assets/images/csy.jpg"
  bio    : "Research Assistant @ Tsinghua University<br>B.E. in AI, Peking University"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:JoeyCui2024@163.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/spidermonk7"
    - label: "AGI"
      icon: "fas fa-fw fa-brain"
    - label: "Comp. Neuroscience"
      icon: "fas fa-fw fa-microscope"
    - label: "Brain-Inspired AI"
      icon: "fas fa-fw fa-network-wired"
    - label: "Multi-Agent Systems"
      icon: "fas fa-fw fa-users"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/spidermonk7"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:JoeyCui2024@163.com"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
